<% layout('layout/main') -%>

<div class="information_about_site">
  <div class="wrapper-slider container">
    <div class="slider" id="slider">
      <div class="slider__item">
        <div class="about blockchain" id="about"> 
          <div class="container">
            <div class="blockchain__photo blockchain__aniamtion clearfix">
              <img class="smallPhoto" src="/image/smallBlockchain.png" alt="">
            </div>           
            <div class="about__content blockchain__content">
                <h3 class="about__title blockchain__title">Blockchain</h3>
                <div class="about__text">
                    <p>Блокчейн в здравоохранении, медицине и фармацевтике может использоваться для управления электронными медицинскими картами, цепочками поставок лекарств, для борьбы с контрафактом, контроля за распределением донорских органов, проведения клинических и биомедицинских исследований, удаленного мониторинга пациентов, улучшения процедур страхования и выставления счетов, а также анализа медицинских данных.</p>
                </div>
            </div>
          </div>
      </div>
      </div>
      <div class="slider__item">
        <div class="about smartContract" id="smartContract"> 
          <div class="container">
              <div class="smartContract__photo  smartContract__animation clearfix">
                <img class="smallPhoto" src="/image/smallSmart.png" alt="">
              </div>           
              <div class="about__content smartContract__content">
                  <h3 class="about__title smartContract__title ">Интеллектуальный контракт</h3>
                  <div class="about__text">
                      <p>Этот компьютерный алгоритм, предназначенный для заключения и поддержания самоисполняемых контрактов, выполняемых в блокчейн-среде, избавляет пользователей от лишних посреднических действий на всех этапах заключения контракта.</p>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="about ipfs" id="about"> 
          <div class="container">
              <div class="ipfs__photo ipfs__animation clearfix">
                <img class="smallPhoto" src="/image/smallIPFS.png" alt="">
              </div>           
              <div class="about__content ipfs__content">
                  <h3 class="about__title ipfs__title ">IPFS</h3>
                  <div class="about__text">
                      <p>IPFS была представлена в 2014 году Хуаном Бенетом как файловая система P2P с адресом контента и версиями. IPFS использует распределенную сеть для обеспечения эффективного средства передачи данных на большие расстояния, даже если это была межпланетная передача отсюда и название - Межпланетная файловая система (IPFS). </p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="sliderSmall" id="sliderSmall">
      <div class="sliderSmall__item">
        <img src="/image/backBlockchainslider.png" width="35%" height="35%" alt="">
      </div>
      <div class="sliderSmall__item">
        <img src="/image/backSmartContractsliderslider.png" width="40%" height="40%" alt="">
      </div>
      <div class="sliderSmall__item">
        <img src="/image/backIPFSslider.png" width="40%" height="40%" alt="">
      </div>
    </div>
  </div>
</div>

<div id="problems">
  <div id="problems_withAccount"  style="display:none;">

  </div>
  <div id="problems_withContract"  style="display:none;">

  </div>
</div>


